/* =iPhone Styles (Experimental)
@media only screen and (max-device-width: 480px)
-------------------------------------------------------------- */
@media (max-width: 100px) {
	body {-webkit-text-size-adjust:100%; width: 100%;}
	#wrapper, #main, #colophon {float: none;width: 394px; max-width: 480px;}

	/* Header */
	#wrapper .header {padding-bottom: 22px;padding-top: 0}
	#wrapper #branding {width:394px; display: block}
	#wrapper #access {width:394px; display: block; margin-left: 0; margin-top: 11px}
	#wrapper #access .menu {float: left; margin: 0 -4px}

	/* Content */
	#wrapper #container.af-layout {width:408px}
	#wrapper #content .page-title {width: 394px; padding: 0 16px 11px; margin: 22px 0 44px}
	#wrapper #content header .archive-meta {margin-left: 0}
	#wrapper .photo-credit {width: 394px;}
	#content .entry-content {width:394px; margin-right: 0; margin-bottom: 22px; float: none; clear: both}
	#content .entry-content .gallery {max-width: 394px;}
	#content embed,
	#content object,
	#content iframe {width: 100%;height: auto;}

	/* Singular */
	.singular #wrapper #content article {margin-bottom: 55px}
	.singular #wrapper #content header {width: 394px; margin: 0 0 22px; padding: 0}
	.singular #wrapper #content header .entry-title {width:394px; letter-spacing: normal; font-size:33px; line-height: 44px; display: block; margin: 0; padding: 0 8px; float: none; clear: both; border: none;}
	.singular #wrapper #content header .entry-date {width:394px; display: block; margin: 0; padding: 0 8px; float: none; clear: both} 
	.singular #wrapper #content .entry-content {width:394px; margin-right: 0; margin-bottom: 22px; float: none; clear: both}
	.singular #wrapper #content .entry-content .pull-quote {width:394px;}
	.singular #wrapper #content .entry-content .narrow-column {width:394px; float: left; margin: 0}
	.singular #wrapper #content .entry-content figure {max-width: 392px !important;}
	.singular #content .entry-image-container,
	.singular #content .entry-video-container,
	.singular #content .entry-gallery-container {}
	.singular #content .entry-gallery-container .cycle {min-height: 200px !important}
	.singular #content .entry-image {max-width: 394px}
	.singular #content .entry-image img,
	.singular #content .entry-content img {max-width: 100%; height: auto; width: auto\9;}
	.singular #wrapper #content footer,
	.singular #content footer {margin-left: 0; width:377px; display: table; float: none; clear: both; padding:0 8px; border: none;}
	.singular #wrapper #content footer aside {float: none; margin-top: 0; padding-top: 0}

	/* Archives */
	.archive #container.normal-layout #content article {margin-bottom: 55px}
	.archive #container.normal-layout #content header {width: 394px; margin: 0 0 22px; padding: 0}
	.archive #container.normal-layout #content header .entry-title {width:394px; letter-spacing: normal; font-size:33px; line-height: 44px; display: block; margin: 0; padding: 0 8px; float: none; clear: both; border: none;}
	.archive #container.normal-layout #content header .entry-date {width:394px; display: block; margin: 0; padding: 0 8px; float: none; clear: both} 
	.archive #container.normal-layout #content .entry-image, 
	.archive #container.normal-layout #content .entry-utility {display: none;}

	/* Defauly AF Layout */
	#container.af-default #content {width:394px;}
	#container.af-default #content .hentry {height:200px;width:100%;margin:0 0 4px; padding:0 16px;}
	#container.af-default #content .entry-image,
	#container.af-default #content .entry-image img {max-width: 600px; height: inherit;}

	/* Blog Template */
	.page-template-blog-page-php #wrapper #content article {margin-bottom: 55px}
	.page-template-blog-page-php #wrapper #content header,
	.page-template-blog-page-php #wrapper #content header .entry-title {width:394px; letter-spacing: normal; font-size:33px; line-height: 44px; display: block; margin: 0; padding: 0 8px; float: none; clear: both; border: none;}
	.page-template-blog-page-php #wrapper #content header .entry-date  {width:394px; display: block; margin: 0; padding: 0 8px; float: none; clear: both} 
	.page-template-blog-page-php #wrapper #content .entry-utility {display: none;}
	.page-template-blog-page-php #wrapper #content .entry-content, 
	.archive #wrapper #content .entry-content {margin-left: 0; margin-right: 0; width:394px;}

	/* Slider */
	#wrapper #content #sticky-area .hentry,
	#wrapper .entry-gallery-container,
	#wrapper #cycle-gallery,
	#wrapper #sticky-area,
	#wrapper #sticky-area .entry-image {width: 392px !important; max-width: 392px  !important; padding: 0}
	#wrapper #sticky-area .entry-image img {max-width: 394px; width: 394px; height: inherit;}
	#wrapper .entry-gallery-container #nav {width: 392px}
	#wrapper #content #sticky-area {height: 188px !important;}

	/* Navigation */
	#wrapper #nav-above {display: none}
	#wrapper #nav-below {display: block;width: 394px}
	.singular #wrapper #nav-below {display: table; margin: 0 0 66px; padding:0}
	.singular #wrapper #nav-below .nav-previous,
	.singular #wrapper #nav-below .nav-next {display: block;width: 172px;}

	/* Comments */
	#content #comments {margin-right: 0}
	#content #comments .commentlist ul.children li {margin-right: 0; margin-left: 0; padding-left: 0; padding-right: 0}
	
	/* Footer */
	#footer-widget-area aside {display: block; float: none; clear: both}
	#site-info {float: none;width: 386px;}
	
	/*	HashGrid - http://hashgrid.com */
	#afgrid{width:424px;position:absolute;  top:0;  left:50%;  margin-left:-213px}
	#afgrid div.vert{ width:86px;  border:solid darkturquoise; background: rgba(0, 191, 255, 0.1); border-width:0 1px;  margin-right:14px}
	#afgrid div.vert.first-line{ margin-left:15px}
	#afgrid div.horiz{height:21px;  border-bottom:1px dotted darkgray;  margin:0;  padding:0}
	
	.single #content .entry-pers img{width: 100%;} 
}